*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 162, 255);
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    margin: auto;
    margin-top: 10%;
    column-gap: 20px;
    row-gap: 20px;
}
.key{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-weight: 900;
    animation: keyAnimations 1s;
    animation-iteration-count: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

@keyframes keyAnimations {
    to{transform: rotateY(360deg);};
}

.key:hover{
    background-color: rgb(0, 58, 165);
    box-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
    color: white;
}
#title{
    margin-bottom: -100px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.key:active{
    background-color: darkblue;
}
@media (max-width: 625px) {
    .keys{
        width: 90%;
    }
    #title{
        margin-bottom: 10px;
    }
}

.switchButton{
    padding: 13px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
#volumeRange{
    margin: 10px 0 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.volumeName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.powerButton{
padding: 13px;
width: 100px;
border-top: 1px solid;
border-radius: 5px;
font-size: 18px;
border: none;
cursor: pointer;
}

.powerButton:hover{
    background-color: rgb(0, 150, 214);
}
.switchButton:hover{
    background-color: rgb(0, 150, 214);
}



